.App {
  text-align: center;
}
h1{
  margin: 50px;
  text-shadow: 0px 0px 10px #5e70b8;
}
table{
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 6px 0px #a9aaae;
  /* border-radius: 0px 20px; */
}